<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue Cards</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="vueCards">
        <header>
            <h1>{{ header }}</h1>
            <button>Add Card</button>
            <button>Remove Card</button>
            <button>Cancel</button>
            <div class="card-form">
                <input v-model="newCard.name" type="text" placeholder="Name">
                <input v-model="newCard.date" type="text" placeholder="Date">
                <input v-model="newCard.text" type="text" placeholder="Message">
                <button :disabled="newCard.length === 0" @click="saveItem">Save Card</button>
            </div>
        </header>
        <main class="card-container">
            <div class="card-display" v-for="card in cards">
                <p class="card-date">{{ card.date }}</p>
                <p class="card-name">{{ card.name }}</p>
                <p class="card-text">{{ card.text }}</p>
            </div>
            <div class="card-none" v-if="cards.length === 0">
                <h2>There are no Vue Cards to display</h2>
                <img src="https://res.cloudinary.com/hgallopcloud/image/upload/v1558280237/starburst-rev_occdct.png" alt="Starburst">
            </div>
        </main>
        <footer>
            <h2>Coded by: hgallop</h2>
            <p>Project based on Vue.js Fundamentals course on <a href="https://vueschool.io" target="_blank">VueSchool.io</a></p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var vueCards = new Vue({
            el: '#vueCards',
            data: {
                header: 'Vue Cards',
                newCard: {
                    name: '',
                    date: '',
                    text: ''
                },
                cards: [
                    {
                        name: 'Tom',
                        date: '09/21/2019',
                        text: 'Pieces of Eight heave down deadlights me line keelhaul. Come about red ensign pink maroon prow loaded to the gunwalls. Jolly Roger clipper to go on account smartly yo-ho-ho rigging. Lugsail yo-ho-ho loot spirits come about brigantine. Dance the hempen jig yard topmast swing the lead mizzenmast transom. Quarter Pirate Round mutiny Blimey swab no prey, no pay. Topmast clipper shrouds cutlass list warp.'
                    },
                ]
            },
            methods: {
                saveItem: function() {
                    this.cards.push(
                        this.newCard
                    );
                    this.newCard = {
                        name: '',
                        date: '',
                        text: ''
                    }
                }
                }
        });
    </script>
</body>
</html>